<div class="jumbotron">
  <h1>'Hi there!'</h1>
  <p class="lead">
    Fast develop your web apps with various of cutting-edge guns. This project was initialized with Yeoman Angular generator and adding some sweeter sugar.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="https://github.com/mattyao1984/yeoman-angular-stylus">Download From Github</a></p>
</div>

<div class="row marketing">
  <h2>What we have here?</h2>
  <h4>AngularJS</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>
  <p>
    For more information, please check <a href="https://angularjs.org/" target="_blank">here</a>.
  </p>

  <h4>Stylus</h4>
  <p>
    Stylus is expressive, robust, feature-rich CSS preprocessor
  </p>
  <p>
    For more information, please check <a href="http://learnboost.github.io/stylus/" target="_blank">here</a>.
  </p>

  <h4>Behat</h4>
  <p>
    Behat is an open source behavior-driven development framework for PHP 5.3 and 5.4.
  </p>
  <p>
    For more information, please check <a href="http://docs.behat.org/en/v2.5/" target="_blank">here</a>.
  </p>

  <h4>Grunt</h4>
  <p>
    In one word: automation. The less work you have to do when performing repetitive tasks like minification, compilation, unit testing, linting, etc, the easier your job becomes.
  </p>
  <p>
    For more information, please check <a href="http://gruntjs.com/" target="_blank">here</a>.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
  <p>
    For more information, please check <a href="http://karma-runner.github.io/0.12/index.html" target="_blank">here</a>.
  </p>
</div>

<div class="row marketing">
  <h2>Install & Run</h2>
  <p>1. Download from github <a href="https://github.com/mattyao1984/yeoman-angular-stylus" target="_blank">here</a>, or you can do "git clone https://github.com/mattyao1984/yeoman-angular-stylus.git"</p>
  <p>2. Install Node.js. If you don't have Node.js installed on your machine, you need to install it first. Download it <a href="http://nodejs.org/" target="_blank">here</a></p>
  <p>3. Run "npm update -g bower" to update your bower and then run "bower update" in your project folder.</p>
  <p>4. Install Grunt command line tool. If you don't have grunt installed on your machine, you need to install it first. Run this command in your terminal "npm install -g grunt-cli". It will install grunt command line on your machine globaly.</p>
  <p>5. Run "npm install" for dependecies.</p>
  <p>6. Run "grunt build"</p>
  <p>7. Run "grunt serve" in your terminal. The server will be run on localhost:9000 by default.</p>
  <p>8. You will see your changes in real-time without refreshing the browser!</p>
</div>

<div class="row marketing">
  <h2>What can I do with it now?</h2>
  <ul>
    <li>Edit css files with Stylus
      <ul>
        <li>You can edit desktop.styl and mobile.styl</li>
        <li>You can add more .styl files as you like</li>
        <li>All .styl will be built into .css when you make changes</li>
      </ul>
    </li>

    <li>Edit js and follow Angular way
      <ul>
        <li>Add new controllers in /scripts/controllers</li>
        <li>Add new directives in /scripts/directives</li>
        <li>Add new templates in /app/views</li>
      </ul>
    </li>

    <li>Edit Gruntfile.js
      <ul>
        <li>If you have more packages to include</li>
      </ul>
    </li>
  </ul>
</div>

<div class="row marketing">
  <h2>E2E Test with Behat & Selenium2 (optional)</h2>
  <p>1. Download Selenium2 server from <a href="http://selenium-release.storage.googleapis.com/2.44/selenium-server-standalone-2.44.0.jar" target="_blank">here</a></p>
  <p>2. Run the Selenium server "java -jar selenium-server-standalone-2.44.0.jar". You need to config your Java on your machine first.</p>
  <p>3. Download composer <a href="https://getcomposer.org/download/" target="_blank">here</a></p>
  <p>4. Run "composer install" and then "composer update" to install Behat packages.</p>
  <p>5. Config behat.yml and write your tests. For more information, please check <a href="http://docs.behat.org/en/v2.5/quick_intro.html#installation">here</a>.</p>
</div>
